#mvn build
target/
#vert.x
.vertx/
file-uploads/
#netbeans
nbproject/
#eclipse
.project
.settings/
.classpath
build-stamp
install-stamp
debian/changelog
debian/files
debian/okapi.debhelper.log
debian/okapi.substvars
debian/okapi/

